<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart Budget</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*Syncfusion stylesheet*@
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/24.1.41/fluent.css" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/24.2.3/material.css" />
    <link href="https://cdn.syncfusion.com/ej2/24.1.41/bootstrap5-dark.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BudgetTracker.styles.css" asp-append-version="true" />
    <script src="https://cdn.syncfusion.com/ej2/24.1.41/dist/ej2.min.js"></script>
</head>
<body class="e-bigger">

    @*"partial" = render a partial view within another view*@
    <partial name="_SideBar" />

    <div class="main-content">

        @*Side bar open and close button*@
        <div>
            <div style="padding:20px" class="center-align">
                <button id="toggle" class="e-info" style="border: none; background: none; cursor: pointer;">
                    <img src="~/more.png" alt="Menu Icon" />
                </button>
            </div>
        </div>

        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function () {
                // create instances for sidebar element
                var sidebar = document.getElementById("sidebar").ej2_instances[0];

                // Toggle Button to close and open the sidebar
                document.getElementById('toggle').onclick = function () {
                    sidebar.toggle();
                }

                // Close the sidebar
                document.getElementById('close').onclick = function () {
                    sidebar.hide();
                }
            });
        </script>
        
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="@(ViewData["isDashboard"] == null ? "col-md-10" : "col-md-12")">
                    <main role="main" class="pb-3">
                        @if (ViewData["isDashboard"] == null)
                        {
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="d-flex flex-column mb-5">
                                        <div class="d-flex mb-1">
                                            <div class="flex-grow-1">
                                                <h3 class="fw-bold">@ViewData["PageTitle"]</h3>
                                            </div>
                                            <div>
                                                @if (ViewData["PageActionText"] != null)
                                                {
                                                    <a class="btn w-btn btn-success" href="@ViewData["PageActionUrl"]">
                                                        @ViewData["PageActionText"]
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                        @*breadcrumb*@
                                        <ejs-breadcrumb id="breadcrumb"
                                                    separatorTemplate="@Html.Raw("<span class='fa-solid fa-angle-right'></span>")"></ejs-breadcrumb>
                                    </div>
                                </div>
                            </div>
                        }
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @*Syncfusion ASP.NET Core Script Manager*@
    <ejs-scripts></ejs-scripts>
</body>
</html>
